.title {
	color: lightblue;
}

.image {
	width: 600px;
	height: 500px;
}

.btn {
	height: 2.5rem;
	width: 5rem;
	background: linear-gradient(to right, red, yellow);
	color: white;
	border: 2px solid black;
	transition: all 0.3s ease-in;
}

.btn:hover {
	background: linear-gradient(to left, red, yellow);
}

body {
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.search-bar {
	height: 2.5rem;
}
